@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>Forgot confirmation</title>
    <link rel="stylesheet" href="~/Content/dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/demo.css">
    <link rel="stylesheet" href="~/Content/dist/css/style.css">
</head>
<body>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="login-brand">
                            Management Laboratory
                        </div>
                        <div class="card card-primary">
                            <div class="card-header"><h4>Forgot Password Confirmation</h4></div>
                            <div class="card-body">
                                <p class="text-muted">Please check your email to reset your password.</p>
                            </div>
                        </div>
                        <div class="simple-footer">
                            &copy; Copyright @DateTime.Now.Year
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/Content/dist/modules/jquery.min.js"></script>
    <script src="~/Content/dist/modules/popper.js"></script>
    <script src="~/Content/dist/modules/tooltip.js"></script>
    <script src="~/Content/dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Content/dist/modules/moment.min.js"></script>
    <script src="~/Content/dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="~/Content/dist/js/sa-functions.js"></script>

    <script src="~/Content/dist/js/scripts.js"></script>
    <script src="~/Content/dist/js/custom.js"></script>
</body>
</html>
@*@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>*@
	
